.navigation {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #262626;
    padding: 10px 5px;
}

.navigation__DisplayInLine {
    display: inline-block;
    margin-left: 90px;
}

.navigation__ListElement {
    list-style-type: none;
}

.navigation__Link {
    text-decoration: none;
    color: white;
}

.navigation__Link:hover {
    color: rgb(167, 161, 161);
    padding: 5px;
    border-radius: 10px;
}